<h1><%= current_user.name %>'s Dashboard</h1>
<a href="/contacts">My Contacts</a>
<h3>Relationship Households</h3>
<% current_user.households.each do |household| %>
  <p><a href="/households/<%=household.id %>"><%= household.name %> - $<%= household.revenue %></a></p>
<% end %>
<br><br>
<p><a href="/households/new">Create Household</a></p>
<p><a href="/contacts/new">Add Contact</a></p>
