<h1><%= @producer.name %>'s Dashboard</h1>
<h3>Relationship Households</h3>
<% @producer.households.each do |household| %>
  <p><a href="/households/<%=household.id %>"><%= household.name %> - $<%= household.revenue %></a></p>
<% end %>
<br><br>
<p><a href="/households/new">Create Household</a></p>
<p><a href="/contacts/new">Add Contact</a></p>
